@model Casgem_IdentityRole.Models.RoleAddViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h3>Rol Ekleme Sayfası</h3>
    <br /><br />
    <form method="post">
        <label>Role Adı</label>
        <input type="text" class="form-control" name="Name" />
        <br />
        <button type="submit" class="btn btn-info">Kaydet</button>
    </form>
</div>
